<div class="container-fluid top-bar">
  <%= link_to "New Event", new_event_path, :class => 'btn primary'%>
</div>
<div class="container-fluid">
  <div class="sidebar whitebkg">
    <div id="calendar-selector">
      
    </div>
    <input type="hidden" id="times-available-hidden" name="times_available" value="<%= time_available_values %>">
  </div>
  <div id="time-table" class="content">
    <h1>Select A Date</h1>
  </div>
</div>
<div id="modal-from-dom" class="modal wide hide fade">
  <%= form_for Event.new, :remote => true do |f| %>
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>New Event</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="span8">
          	<div class="validation-error"></div>
          	<fieldset>
          	  <div class="clearfix">
          	    <%= f.label :customer %>
          	    <div class="input">
          	      <%= f.text_field :customer, :class => "span5" %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :event_date %>
          	    <div class="input">
          	      <%= f.date_select :event_date, :class => 'span2' %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :notes %>
          	    <div class="input">
          	      <%= f.text_area :notes, :rows => 3, :class => "span5" %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :room_id %>
          	    <div class="input">
          	      <%= f.collection_select(:room_id, @rooms, :id, :name, :prompt => true) %>
          	    </div>
          	  </div>
          	<fieldset>
        </div>
        <div class="span4">
          <ul class="inputs-list time-selector">
            <li>
              <label>
                <input type="checkbox" id="time_16" name="time_marker_ids[]" value="16">
                <span>8:00 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_17" name="time_marker_ids[]" value="17">
                <span>8:30 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_18" name="time_marker_ids[]" value="18">
                <span>9:00 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_19" name="time_marker_ids[]" value="19">
                <span>9:30 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_20" name="time_marker_ids[]" value="20">
                <span>10:00 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_21" name="time_marker_ids[]" value="21">
                <span>10:30 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_22" name="time_marker_ids[]" value="22">
                <span>11:00 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_23" name="time_marker_ids[]" value="23">
                <span>11:30 am</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_24" name="time_marker_ids[]" value="24">
                <span>12:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_25" name="time_marker_ids[]" value="25">
                <span>12:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_25" name="time_marker_ids[]" value="25">
                <span>1:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_26" name="time_marker_ids[]" value="26">
                <span>1:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_27" name="time_marker_ids[]" value="28">
                <span>2:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_29" name="time_marker_ids[]" value="29">
                <span>2:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_30" name="time_marker_ids[]" value="30">
                <span>3:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_31" name="time_marker_ids[]" value="31">
                <span>3:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_32" name="time_marker_ids[]" value="32">
                <span>4:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_33" name="time_marker_ids[]" value="33">
                <span>4:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_34" name="time_marker_ids[]" value="34">
                <span>5:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_35" name="time_marker_ids[]" value="35">
                <span>5:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_36" name="time_marker_ids[]" value="36">
                <span>6:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_37" name="time_marker_ids[]" value="37">
                <span>6:30 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_38" name="time_marker_ids[]" value="38">
                <span>7:00 pm</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id="time_39" name="time_marker_ids[]" value="39">
                <span>7:30 pm</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Save Event', :class => 'btn primary' %>
    </div>
  <% end %>
</div>