<div class="container-fluid top-bar">
  <a href="#new-event" data-controls-modal="modal-from-dom" data-backdrop="static" class="modal-target btn primary">New Event</a>
</div>
<div class="container-fluid">
  <div class="sidebar whitebkg">
    <div id="calendar-selector">
      
    </div>
  </div>
  <div class="content">
    <table class="time">
      <tr>
        <th></th>
        <th>Room 1</th>
        <th>Room 2</th>
        <th>Room 3</th>
        <th>Room 4</th>
        <th>Room 5</th>
        <th>Room 6</th>
      </tr>
      <tr>
        <td class="time">8:00 am</td>
        <td class="reserved"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">8:30 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">9:00 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">9:30 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">10:00 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">10:30 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">11:00 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">11:30 am</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">12:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">12:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">1:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">1:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">2:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">2:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">3:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">3:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">4:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">4:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">5:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">5:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">6:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">6:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">7:00 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="time">7:30 pm</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<div id="modal-from-dom" class="modal wide hide fade">
  <%= form_for Event.new, :remote => true do |f| %>
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>New Event</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="span8">
          	<div class="validation-error"></div>
          	<fieldset>
          	  <div class="clearfix">
          	    <%= f.label :customer %>
          	    <div class="input">
          	      <%= f.text_field :customer, :class => "span5" %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :event_date %>
          	    <div class="input">
          	      <%= f.date_select :event_date, :class => 'span2' %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :notes %>
          	    <div class="input">
          	      <%= f.text_area :notes, :rows => 3, :class => "span5" %>
          	    </div>
          	  </div>
          	  <div class="clearfix">
          	    <%= f.label :room_id %>
          	    <div class="input">
          	      <%= f.collection_select(:room_id, @rooms, :id, :name, :prompt => true) %>
          	    </div>
          	  </div>
          	<fieldset>
        </div>
        <div class="span4">
          <table>
          
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Save Event', :class => 'btn primary' %>
    </div>
  <% end %>
</div>