<%= form_for @event do |f| %>
<%= hidden_field_tag 'current_event_id', @event.id, :id => 'current_event_id' %>
<fieldset>
<div>
	<div class="validation-error"></div>
	<div class="row">
	  <div class="span-one-third">
      <div class="clearfix">
        <%= f.label :event_date %>
        <div class="input">
          <%= f.text_field :event_date, :class => 'span2 datepicker' %>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :customer %>
        <div class="input">
          <%= f.collection_select(:customer_id, @customers, :id, :list_value, :prompt => true) %>
        </div>
      </div>
	  </div>
	  <div class="span-one-third">
  	  <div class="clearfix">
  	    <%= f.label :notes %>
  	    <div class="input">
  	      <%= f.text_area :notes, :rows => 3, :class => "span4" %>
  	    </div>
  	  </div>
	  </div>
	  <div class="span-one-third">
      <div class="clearfix">
  	    <%= f.label :party_type, "Party Type" %>
  	    <div class="input">
  	      <%= f.select(:party_type, [["Basic","1"],["Deluxe","2"]]) %>
  	    </div>  
  	  </div>
  	  <div class="clearfix">
  	    <div class="input">
  	    <%= f.submit 'Submit', :class => 'btn primary' %>
  	    </div>
  	  </div>
	  </div>
	</div>
</div>
<div id="open-date-selector">
  <h6>Select Date and Room</h6>

</div>
<div>
  <p><%= link_to "Back to List", events_path %></p>
</div>
<fieldset>
<% end %>