<%= form_for Event.new do |f| %>
<div class="row">
  <div class="span8">
    	<div class="validation-error"></div>
    	<fieldset>
    	  <div class="clearfix">
    	    <%= f.label :customer %>
    	    <div class="input">
    	      <%= f.collection_select(:customer_id, @customers, :id, :full_name, :prompt => true) %>
    	    </div>
    	  </div>
    	  <div class="clearfix">
    	    <%= f.label :event_date %>
    	    <div class="input">
    	      <%= f.text_field :event_date, :class => 'span2 datepicker' %>
    	    </div>
    	  </div>
    	  <div class="clearfix">
    	    <%= f.label :notes %>
    	    <div class="input">
    	      <%= f.text_area :notes, :rows => 3, :class => "span5" %>
    	    </div>
    	  </div>
    	  <div class="clearfix">
    	    <%= f.label :room_id %>
    	    <div class="input">
    	      <%= f.collection_select(:room_id, @rooms, :id, :name, :prompt => true) %>
    	    </div>
    	  </div>
    	  <div class="clearfix">
    	    <div class="input">
    	    <%= f.submit 'Submit', :class => 'btn primary' %>
    	    </div>
    	  </div>
    	<fieldset>
  </div>
  <div id="open-date-selector" class="span4">
    <h6>Select Date and Room</h6>
    <ul id="open-date-selector" class="inputs-list time-selector">
      
    
  </div>
</div>
<% end %>